@font-face {
    font-family: 'japan';
    src: url(Fonts/FreightBigProBook-Regular.woff2) format(woff2);
    src: url(FreightBigProBook-Regular.woff) format(woff);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'japan';
}


html,
body {
    height: 100%;
    width: 100%;
}

#main {
    background-color: #000000;
}

#loader {
    height: 100vh;
    width: 100%;
    background-color: #000000;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    text-transform: capitalize;
    z-index: 99;
    /* display: none; */
}

#loader video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    background-position: center;
    z-index: 6;
}

#loader h1 {
    text-transform: uppercase;
    font-size: 7vw;
    line-height: 5.3vw;
    font-weight: 100;
    position: relative;
    z-index: 9;
    letter-spacing: -3px;
}

.page1 {
    height: 100vh;
    width: 100%;
    background-color: #F5E41B;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#yellow1 {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #F5E41B;
    z-index: 8;
}

#yellow2 {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #F5E41B;
    z-index: 7;
}

.nav {
    position: absolute;
    width: 100%;
    padding: 30px 50px;
    z-index: 10;
}

.nav img {
    height: 23px;
    width: 70px;

}

.page1 h1 {
    text-transform: uppercase;
    font-size: 7vw;
    line-height: 5.3vw;
    font-weight: 100;
    letter-spacing: -3px;
}

.page2 {
    height: 100vh;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: center;
    background-size: cover;
}

.elem {
    /* background-color: red; */
    width: 100%;
    position: relative;
    cursor: pointer;

}

.elem .blur {
    position: absolute;
    width: 25%;
    left: 51%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #f5e31beb, #F5E41B, #f5e31beb);
    box-shadow: 10px 0px 20px 20px #F5E41B, -10px 0px 20px 100px #F5E41B;
    height: 100%;
    z-index: 8;
}

.elem .fblur {
    position: absolute;
    width: 41%;
    left: 51%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #f5e31beb, #F5E41B, #f5e31beb);
    box-shadow: 10px 0px 20px 20px #F5E41B, -10px 0px 20px 100px #F5E41B;
    height: 100%;
    z-index: 8;
}

.elem h2 {
    font-size: 6.8vw;
    text-transform: uppercase;
    font-weight: 100;
    position: relative;
    z-index: 9;
    line-height: 5.1vw;
    /* transition: all ease 0.1s; */
    font-style: normal;
}

.elem .moving {
    background-color: #F5E41B;
    width: 100%;
    white-space: nowrap;
    padding: 6px 0;
    position: absolute;
    transform: translate(0, -51%) scaleY(0);
    top: 50%;
    transition: all ease 0.3s;
    overflow: hidden;
}

.elem .moving .moving-in {
    white-space: nowrap;
    display: inline-block;
    animation-name: moving;
    animation-duration: 7.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.elem .moving .moving-in h5 {
    color: #000000;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 35px;
    opacity: 0;
    transition: all ease 0.3s;
    transition-delay: 0.2s;
}

@keyframes moving {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.elem:hover .moving {
    transform: translate(0, -51%) scaleY(1);
}

.elem:hover .moving h5 {
    opacity: 1;

}

.elem:hover h2 {
    font-style: italic;
    color: rgba(42, 14, 14, 0.827);
}



.page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #ffffff;
}

.img-container {
    padding: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.image-div {
    height: 38vw;
    width: 30vw;
    background-color: red;
    position: relative;
    overflow: hidden;
    margin: 25px 10px;
}

.image-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: #00000020;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: all ease 0.5s;
    z-index: 9;
}

.overlay p {
    font-size: 2.3vw;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    line-height: 2.5vw;
    transition: all ease 0.5s;
    opacity: 0;
}

.image-div:hover .overlay {
    background-color: #000000;
}

.image-div:hover .overlay p {
    opacity: 1;
}

.image-div:hover img {
    scale: 1.1;
}


.footer {
    height: 30vh;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.footer .foot {
    height: 40%;
    width: 100%;
    background-color: #000000;
    position: relative;
    overflow: hidden;
}

.footer .foot h2 {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer i {
    border: 20px;
    font-size: 25px;
    cursor: pointer;
}

.footer h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 1.5vw;
    cursor: pointer;
}


.foot .h1 {
    text-transform: initial;
    animation: up 4s infinite ease-in-out;
}

.foot .h2 {
    text-transform: initial;
    animation: down 4s infinite ease-in-out;
}

@keyframes up {

    0%,
    39% {
        opacity: 1;
        transform: translateY(0%);
    }

    50%,
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes down {

    0%,
    39% {
        opacity: 0;
        transform: translateY(100%);
    }

    50%,
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}